.chatbox-content {
    width: 500px;
    height: 600px;
}

.chat-body {
    overflow-y: scroll;
    max-height: 500px;
}

.card-chat {
    max-width: 200px;
}

/* Za Tablet */
@media only screen and (max-width: 800px) {
    .chatbox-content {
        width: 400px;
        height: 500px;
    }

    .chat-body {
        overflow-y: scroll;
        max-height: 400px;
    }

    .card-chat {
        max-width: 200px;
    }
}

/* Za Telefon */
@media only screen and (max-width: 800px) {
    .chatbox-content {
        width: 300px;
        height: 500px;
    }

    .chat-body {
        overflow-y: scroll;
        max-height: 400px;
    }

    .card-chat {
        max-width: 200px;
    }
}